body {
  font-family: sans-serif;
  max-width: 800px;
  margin: 0 auto;
  background: #ccc;
}

header, main, footer, h1 {
  margin: 10px;
}

header, main, dialog {
  padding: 10px;
  background: white;
  border: 1px solid #999;
  border-radius: 2px;
}

dialog::backdrop {
  background: rgba(255, 255, 255, 0.5);
}

main {
  display: grid;
  grid-gap: 10px;
}

main > * {
  border: 1px solid #ccc;
  padding: 10px;
}

main p {
  text-align: center;
  font-style: italic;
}

#db, #progress {
  grid-column: 1/-1;
}

@media (min-width: 400px) {
  main {
    grid-template-columns: repeat(2, 1fr);
  }
}

h1, h2 {
  text-align: center;
}

h2 {
  margin: 0 0 10px 0;
  font-size: 100%;
}

footer {
  font-size: 90%;
  text-align: center;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  image-rendering: pixelated;
}

progress {
  height: 30px;
  width: 100%;
  max-width: 400px;
  display: block;
  margin: 0 auto;
}

.valid::after {
  content: " ✅"
}

.invalid::after {
  content: " ⛔️"
}

@media (prefers-color-scheme: dark) {
  body { background: black; color: white; }
  header, main, dialog { background: #333; color: white; border: 1px solid #666; }
  main > * { border: 1px solid #666; }
  a:link { color: #7bf; }
  a:visited { color: #b7f; }
  a:active { color: #f77; }
  dialog::backdrop { background: rgba(0, 0, 0, 0.5); }
  #rom img { filter: invert(1); }
}
